EXPO_PUBLIC_SUPABASE_URL=https://lzfhtgrpqyafcjegcjwq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6Zmh0Z3JwcXlhZmNqZWdjandxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NzMzNTcsImV4cCI6MjA4OTQ0OTM1N30.V6Ia-OVDVbvlF8wkXx4FMnSJktWeG5MjC_LqqPBE_24